<div class="container">
  <div class="footer__inner">
    <a href="index.html" class="footer__textLogo">Global Code</a>
    <div class="footer__data">
      <div class="footer__data__item">
        <div class="footer__row">
          Made with <i class="icon ion-heart"></i>by <a href="https://twitter.com/glblcd" target="_blank"
            class="footer__link">#glblcd</a> in Ghana.
        </div>
        <div class="footer__row">
          Registered as a charity in the U.K. #1176504.
        </div>
      </div>
      <div class="footer__data__item">
        <div class="footer__row">
          <i class="icon ion-logo-github"></i> <a href="https://github.com/glblcd" target="_blank"
            class="footer__link">GitHub</a>
        </div>
        <div class="footer__row">
          <i class="icon ion-logo-twitter"></i> <a href="https://twitter.com/glblcd" target="_blank"
            class="footer__link">Twitter</a>
        </div>
        <div class="footer__row">
          <i class="icon ion-heart"></i> <a
            href="https://github.com/glblcd/policy/blob/master/expected_standards_of_behaviour.md" target="_blank"
            class="footer__link">Code of Conduct</a>
        </div>
      </div>
    </div>
  </div>
</div>