<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <!-- Hero(extended) navbar -->
  <div class="navbar navbar--extended">
    <nav class="nav__mobile"></nav>
    <div class="container">
      {% include navbar-inner.html %}
    </div>
  </div>

  <!-- Hero unit -->
  <div class="hero">
    <div class="hero__overlay hero__overlay--gradient"></div>
    <div class="hero__mask"></div>
    <div class="hero__inner">
      <div class="container">
        <div class="hero__content">
          <div class="hero__content__inner" id='navConverter'>
            <h1 class="hero__title">404 Page Not Found</h1>
            <p class="hero__text">This page couldn't be found. It might have been deleted or moved.</p>
            <a href="index" class="button button__accent">Go Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include footer-light.html %}
  
  {% include scripts.html %}
</body>

</html>
